<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [mode]="sidenavMode"
    [opened]="!isSmallScreen"
    [fixedInViewport]="true"
  ></mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    fantainze.com 欢迎您的拜访
  </mat-toolbar>
  <img
    src="https://storage.cloud.google.com/fantianze.com/disneyland-tour-001.jpg?authuser=2&walkthrough_tutorial_id=storage_quickstart"
    alt=""
  />
</mat-sidenav-container>
<button
  *ngIf="isSmallScreen"
  mat-mini-fab
  color="primary"
  class="sidenav-toggle"
  (click)="sidenav.toggle()"
>
  <mat-icon>view_list</mat-icon>
</button>
